.profile {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    margin-top: 5%;
    
}

.profile .left_profile {
    display: flex;
    align-items: center;
}

.profile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile ul li {
    padding: 10px;
    font-size: 1.2rem;

}


img {
    scale: 0.8;
    background-color: aliceblue;
    border-radius: 50%;
    
}